<% doc_presenter = show_presenter(document) %>

<div class="row">
    <div class="col-lg-8">
        <% if doc_presenter.document["index_card"] || doc_presenter.document["big_card"] || doc_presenter.document["reference_material"] %>
		<div class="uv" style="width:100%; height:600px; background-color: #000">
			<iframe aria-label="image view" src="https://archives.albany.edu/uv/uv.html#?manifest=https://archives.albany.edu/espy/manifest%3Fid=<%= doc_presenter.document["id"] %>;config=https://archives.albany.edu/uv/uv-config.json" allowfullscreen="true" frameborder="0" style="width:100%; height:600px;"></iframe>
        	</div>
	<% end %>
    </div>

    <div class="col-lg-4">
        <%= render 'show_tools' %>
        <% skip_list = ["circa_date_execution", "circa_date_crime", "index_card", "index_card_id", "index_card_files", "index_card_uri", "index_card_download", "big_card", "big_card_id", "big_card_files", "big_card_uri", "big_card_download", "reference_material", "reference_material_id", "reference_material_files", "reference_material_uri", "reference_material_download"] %>
    
        <%# default partial to display solr document fields in catalog show view -%>
        <dl class="row dl-invert document-metadata">
          <% doc_presenter.fields_to_render.each do |field_name, field, field_presenter| -%>
            <% unless skip_list.include? field_name %>
                <% if field_name == "index_card_aspace" %>
                    <dt class="blacklight-<%= field_name.parameterize %> col-md-6"></dt>
                    <dd class="blacklight-<%= field_name.parameterize %> col-md-6"><a href="<%= field_presenter.render %>">Index Card File</a></dd>
                <% elsif  field_name == "big_card_aspace" %>
                    <dt class="blacklight-<%= field_name.parameterize %> col-md-6"></dt>
                    <dd class="blacklight-<%= field_name.parameterize %> col-md-6"><a href="<%= field_presenter.render %>">Large Card File</a></dd>
                <% elsif  field_name == "reference_material_aspace" %>
                    <% field_presenter.render.split("; ").each do |ref_link| %>
                        <dt class="blacklight-<%= field_name.parameterize %> col-md-6"></dt>
                        <dd class="blacklight-<%= field_name.parameterize %> col-md-6"><a href="<%= ref_link %>">Reference Material File</a></dd>
                    <% end %>
                <% else %>
                    <dt class="blacklight-<%= field_name.parameterize %> col-md-6"><%= render_document_show_field_label document, label: field_presenter.label, field: field_name %></dt>
                    <dd class="blacklight-<%= field_name.parameterize %> col-md-6"><%= field_presenter.render %></dd>
                <% end %>
            <% end %>
          <% end -%>
        </dl>
        <%= link_to fields_path, class: 'btn btn-primary mb-4' do %>
          <%= blacklight_icon :'info-fill', aria_hidden: true %> About these fields
        <% end %>
        
        <% datasets = {"Alaska": "https://archives.albany.edu/concern/daos/h702qr462", \
            "Alabama": "https://archives.albany.edu/concern/daos/1544c675j", \
            "Hawaii": "https://archives.albany.edu/concern/daos/w0892w21f", \
            "Oregon": "https://archives.albany.edu/concern/daos/qr46rk03m", \
            "Wyoming": "https://archives.albany.edu/concern/daos/6w924w50g"} %>
            
        <%= link_to datasets[doc_presenter.document["state"].to_sym], class: 'btn btn-primary mb-4' do %>
          <%= blacklight_icon :'table', aria_hidden: true %> Dataset for all <%= doc_presenter.document["state"] %> Executions
        <% end %>
    </div>
</div>
