<% content_for(:content) do %>
  <% sidebar_content = content_for(:sidebar).to_s %>
  <% has_sidebar = sidebar_content.strip.present? %>

  <section class="<%= has_sidebar ? show_content_classes : 'col-12 show-document' %>">
    <%= yield %>
  </section>

  <% if has_sidebar %>
    <section class="<%= show_sidebar_classes %>">
      <%= sidebar_content %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
